@model NiagaraCollegeProject.Models.PAC

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit PAC</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PACName" class="control-label"></label>
                @Html.EditorFor(model => model.PACName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: SoftWare Engineer"}})
                <span asp-validation-for="PACName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicDivisionID" class="control-label">School Of</label>
                <select asp-for="AcademicDivisionID" class="form-control" asp-items="ViewBag.AcademicDivisionID"></select>
                <span asp-validation-for="AcademicDivisionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary Save_btns"><i class="fa-solid fa-check"></i></button>
                <a href='@ViewData["returnURL"]' class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
