@model NiagaraCollegeProject.Models.PollOption

@{
    ViewData["Title"] = "Add Poll Option";
}

<h4>Add Poll option for: @ViewData["PollQuestion"]</h4>
<hr />
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="PollID" value="@Model.PollID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <select  hidden disabled asp-for="PollID" class="form-control" asp-items="ViewBag.PollID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OptionText" class="control-label"></label><span class="colorred">*</span>
                <input asp-for="OptionText" class="form-control" />
                <span asp-validation-for="OptionText" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary Save_btns" />

            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
