@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="text-center">
	<h1 class="display-4">PAC PROJECT</h1><br />
	@if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("Staff"))
	{
		<p style="color: #fff; font-weight: bold;">Please follow the descriptions on the navigation link bellow to continue your operation </p>
	}
	else
	{
		<p style="color: #fff; font-weight: bold;">We are WebCraft, a team of committed individuals who create an effective and responsive website for you</p>
	}
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || User.IsInRole("Staff"))
{
	<section class="grid-container">
		<a href="/Members" class="link">
			<img src="~/Images/people-group.png" alt="Link Image">
			<h2>Members</h2>
			@if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
			{
				<p>You can go to the member page to edit team members personal information and their profile picture</p>
			}
			@if (User.IsInRole("Staff"))
			{
				<p>You can go to the member page to view the information of your colleagues in your committee</p>
			}
		</a>
		<a href="/Meetings" class="link">
			<img src="~/Images/meeting.png" alt="Link Image">
			<h2>Meetings</h2>
			@if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
			{
				<p>You can go to the meeting page to add more attendants and edit the meeting information and documents</p>
			}
			@if (User.IsInRole("Staff"))
			{
				<p>You can go to the meeting page to view attendants and download the meeting documents</p>
			}
		</a>
		@if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
		{
			<a href="/PACs" class="link">
				<img src="~/Images/school-cap.png" alt="Link Image">
				<h2>PACs</h2>
				@if (User.IsInRole("Admin"))
				{
					<p>You can add or delete PACs or assign them to an existing committee</p>
				}
				@if (User.IsInRole("Supervisor"))
				{
					<p>You can add more PACs and assign them to an existing committee</p>
				}
			</a>
		}
		@if (User.IsInRole("Admin")){
		<a href="/TeamMembers" class="link">
			<img src="~/Images/account.png" alt="Link Image">
			<h2>Account Maintenance</h2>
			<p>You can edit/assign roles to members or active/deactive accounts and send them notifications here</p>
		</a>
		}
	</section>
}

<script>
	//Register the service worker.
	//Note is is still not "installable" without the manifest
	if (navigator.serviceWorker.controller) {
		console.log('Active service worker found, no need to register');
	} else {
		navigator.serviceWorker.register('sw.js', {
			scope: './'
		}).then(function (reg) {
			console.log('Service worker has been registered for scope:' + reg.scope);
		});
	}
</script>