@model NiagaraCollegeProject.Models.ActionItem

<h1>Add new action item</h1>

<form asp-action="Add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="MeetingID" value="@Model.MeetingID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Assign To</label><span class="colorred">*</span>
                <select asp-for="MemberID" id="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AgendaName" class="control-label"></label><span class="colorred">*</span>
                @Html.EditorFor(model => model.AgendaName, new { htmlAttributes = new {@class = "form-control", @placeholder = " example: Agenda for Meeting #X"}})
                <span asp-validation-for="AgendaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @{
                    <td><textarea class="form-control" style="height: 120px; width: 320px" id="Description" name="Description" placeholder="example: Analyze and report sales (optional)"></textarea></td>
                }
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                @{
                    <td><textarea class="form-control" style="height: 120px; width: 320px" id="Comments" name="Comments" placeholder="Write some comments here (optional)"></textarea></td>
                }
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Due Date</label><span class="colorred">*</span>
                <input asp-for="TaskDueDate" class="form-control" />
                <span asp-validation-for="TaskDueDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Meeting</label>
                <select asp-for="MeetingID" id="MeetingID" class="form-control" asp-items="ViewBag.MeetingID" disabled></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href='@ViewData["returnURL"]' class="Back_btns"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="~/css/SearchableDDL.css" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/jscript">
        $(function () {
            $("#MemberID").select2();
            $("#MeetingID").select2();
        });
    </script>
}